@import "../../../css/variables.scss";

.post-container {
    border: solid 1px $darkblue;
    padding: 10px;
    color: $black;
    border-radius: 4px;
    margin-bottom: 10px;
    &:last-of-type {
        margin-bottom: 0;
    }
    h2 {
        font-size: 10px;
        font-family: "NN-Light";
    }
    p {
        line-height: 1.5;
    }
    .card-footer {
        text-align: right;
        p {
            font-size: 10px;
            font-family: "NN-Light";
        }
    }
}