.containermyaccount {
  max-width: 320px;
  margin: 0 auto;
  border: none;
  height: 700px;
  background-color: white;
}
.titlemyaccount {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #4c548c;
  font-family: "NN-Bold";
}
.coordclass {
  margin-bottom: 10px;
  text-decoration: underline;
  font-family: "NN-Bold";
  font-size: 14px;
}
.pseudoclass,
.emailclass,
.phonenumberclass {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.avatarclass,
.cancerstepclass {
  margin-bottom: 10px;
  margin-top: 15px;
}

.pseudotitle,
.emailtitle,
.avatartitle,
.cancersteptitle,
.phonenumbertitle {
  margin-right: 10px;
  color: #4c548c;
  font-family: "NN-Bold";
  width: 160px;
}

.pseudotext,
.emailtext,
.avatartext,
.cancersteptext,
.phonenumbertext {
  margin-right: 10px;
  font-family: "NN-Bold";
}
.avatartitle,
.cancersteptitle {
  margin-bottom: 10px;
  flex: 1;
}
.avatarimg {
  height: 100px;
  width: 100px;
  border-radius: 50px;
  object-fit: cover;
}
.avatarimg {
  justify-content: center;
}
.avatarimgdiv {
  display: flex;
  position: relative;
  justify-content: center;
}
.plusicon {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}
.addavatardiv {
  display: flex;
  justify-content: center;
}

.addavatar {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  display: flex;
  text-align: center;
  align-items: center;
}

.addavatar > p,
.modifyavatar > p {
  color: #4c548c;
  font-family: "NN-Bold";
  font-size: 14px;
}
.plusicon {
  margin-right: 10px;
}

.avataraccountpicker {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  z-index: -1;
}

.changeavatar {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 110px;
  background-color: #e5e7e9;
  opacity: 0.4;
  border-radius: 50px;
  cursor: pointer;
}

.addavatar {
  height: 100px;
  width: 100px;
  left: 110px;
  background-color: #e5e7e9;
  opacity: 0.4;
  border-radius: 50px;
  cursor: pointer;
}
.inputaccountphone,
.inputaccountemail,
.inputaccountpseudo {
  cursor: pointer;
}

.modifyavatar {
  height: 100px;
  width: 100px;
  position: absolute;
  left: 0px;
  background-color: #e5e7e9;
  opacity: 0.4;
  border-radius: 50px;
  cursor: pointer;
  text-align: center;
  align-content: center;

  border: 1px solid black;
}
.handlebutton {
  display: flex;
  justify-content: center;
  margin-top: 30px;
}
.buttonSave,
.buttonLogout {
  width: 120px;
}

.buttonLogout {
  margin-left: 30px;
}

.errorclass {
  margin-top: 20px;
  color: red;
  text-align: center;
  font-family: "NN-Bold";
}
.infoclass {
  margin-top: 20px;
  color: 4c548c;
  text-align: center;
  font-family: "NN-Bold";
}
