.containermyaccount {
  max-width: 320px;
  margin: 0 auto;
  border: none;
  height: 700px;
  background-color: white;
}
.titlemyaccount {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
  color: #4c548c;
  font-family: "NN-Bold";
}
.coordclass {
  margin-bottom: 10px;
  text-decoration: underline;
  font-family: "NN-Bold";
  font-size: 14px;
}
.pseudoclass,
.emailclass,
.phonenumberclass {
  display: flex;
  margin-bottom: 10px;
  align-items: center;
}
.avatarclass,
.cancerstepclass {
  margin-bottom: 10px;
}

.pseudotitle,
.emailtitle,
.avatartitle,
.cancersteptitle,
.phonenumbertitle {
  margin-right: 10px;
  color: #4c548c;
  font-family: "NN-Bold";
  width: 160px;
}

.pseudotext,
.emailtext,
.avatartext,
.cancersteptext,
.phonenumbertext {
  margin-right: 10px;
  font-family: "NN-Bold";
}
.avatartitle,
.cancersteptitle {
  margin-bottom: 10px;
  flex: 1;
}
.avatarimg {
  height: 100px;
  width: 100px;
  border-radius: 50px;
}
.avatarimg {
  justify-content: center;
}
.avatarimgdiv {
  display: flex;
}
.plusicon {
  vertical-align: middle;
  justify-content: center;
  align-items: center;
  margin: auto 0;
}

.addavatar {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 150px;
  display: flex;
}
.plusicon {
  margin-right: 10px;
}

.avataraccountpicker {
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  z-index: -1;
}
