.containerfgpass {
  margin: 100px auto;
  max-width: 320px;
  height: 700px;
  background-color: white;
}

.errorreportfgpass {
  text-align: center;
  color: red;
  font-weight: bold;
}
.titlefgpass {
  margin-top: 50px;
  margin-bottom: 20px;
}
.h1fgpass {
  margin-bottom: 70px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #4c548c;
  font-size: 20px;
  text-align: center;
}

.buttondivfgpass {
  margin-top: 50px;
  margin-right: 10px;
}

.buttonconnvfgpass {
  margin-top: 50px;
  margin-left: 10px;
}
.forgetPassword-section {
  margin-top: 50px;
}

.navbuttonfgpass {
  display: flex;
  justify-content: center;
  margin-top: 210px;
}
