.containerlogin {
  box-sizing: border-box;
  margin: 0 auto;
  padding: 100px 0;
  max-width: 320px;
  height: 100%;
  background-color: white;
}

.emaillogin {
  background-color: #4c548c;
  margin-top: 50px;
  border-width: 0px;
  border: none;
  font-family: "Nunito", sans-serif;
  border-bottom: solid 1px white;
  margin-bottom: 30px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
}
.posrelinputlogindiv1 {
  margin-top: 10px;
  position: relative;
}

.passwordlogin {
  background-color: #4c548c;
  border-width: 0px;
  border: none;
  font-family: "Nunito", sans-serif;
  margin-bottom: 30px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.noaccountlogin {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  line-height: 10px;
  color: #4d548b;
  width: 300px;

  cursor: pointer;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}
.forgetpasswordlogin {
  font-family: "Nunito", sans-serif;
  font-size: 12px;
  line-height: 10px;
  color: #4d548b;
  width: 300px;
  text-decoration: underline;
  cursor: pointer;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}
.buttonsubmitlogin {
  width: 105px;
  height: 45px;
  border-radius: 5px;
  background-color: white;
  color: #4c548c;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  font-size: 16px;
}

.errorreportlogin {
  text-align: center;
  color: red;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  margin-top: 10px;
}
.titlelogin {
  margin-bottom: 30px;
}
.h1login {
  margin-bottom: 90px;
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  color: #4c548c;
  font-size: 20px;
  text-align: center;
}

.buttondivlogin {
  justify-content: center;
  display: flex;
  margin-top: 210px;
}

.inputlogindiv1 {
  position: absolute;
  left: 285px;
  top: 5px;
}

.checkboxloginstyle {
  margin-right: 10px;
  position: absolute;
  left: 40px;
  top: -20px;
}
.checkboxlogindiv {
  position: relative;
}
.checkboxlogintextdiv {
  font-family: "Nunito", sans-serif;
  font-weight: lighter;
  font-size: 14px;
  color: #4c548c;
  margin-right: 10px;
  position: absolute;
  left: 65px;
  top: -16px;
}
.noaccountlogintxt > span {
  font-family: "Nunito", sans-serif;
  font-weight: bold;
  text-decoration: underline;
}
