.containerlogin {
  margin: 0 auto;
  max-width: 320px;
  height: 700px;
  background-color: white;
  border: none;
}

.emaillogin::placeholder {
  color: white;
  background-color: #4c548c;
}

.emaillogin {
  background-color: #4c548c;
  margin-top: 50px;
  border-width: 0px;
  border: none;
  font-family: "NN-Bold";
  border-bottom: solid 1px white;
  margin-bottom: 30px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
  font-weight: bold;
}

.passwordlogin::placeholder {
  color: white;
  background-color: #4c548c;
}

.passwordlogin {
  background-color: #4c548c;
  border-width: 0px;
  border: none;
  font-family: "NN-Bold";
  margin-bottom: 30px;
  font-size: 20px;
  margin-left: 10px;
  margin-right: 10px;
  font-weight: bold;
}

.noaccountlogin {
  font-family: "NN-Bold";
  font-size: 12px;
  line-height: 10px;
  color: #4d548b;
  width: 300px;

  cursor: pointer;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
}
.forgetpasswordlogin {
  font-family: "NN-Bold";
  font-size: 12px;
  line-height: 10px;
  color: #4d548b;
  width: 300px;

  cursor: pointer;
  margin-top: 30px;
  text-align: center;
  font-weight: bold;
  margin-bottom: 20px;
}
.buttonsubmitlogin {
  width: 105px;
  height: 45px;
  border-radius: 5px;
  background-color: white;
  color: #4c548c;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  text-align: center;
  font-family: "NN-Bold";
  font-weight: bold;
  font-size: 16px;
}

.errorreportlogin {
  text-align: center;
  color: red;
  font-weight: bold;
}
.titlelogin {
  margin-top: 50px;
  margin-bottom: 20px;
}
.h1login {
  margin-bottom: 50px;
  font-family: "NN-Bold";
  font-weight: bold;
  color: #4c548c;
  font-size: 20px;
  text-align: center;
}

.buttondivlogin {
  justify-content: center;
  display: flex;
}
.posrelinputlogindiv1 {
  position: relative;
}
.inputlogindiv1 {
  position: absolute;
  left: 300px;
  top: 35px;
}

.checkboxloginstyle {
  margin-right: 10px;
  position: absolute;
  left: 40px;
  top: -20px;
}
.checkboxlogindiv {
  position: relative;
}
.checkboxlogintextdiv {
  font-family: "NN-Bold";
  font-weight: bold;
  color: #4c548c;
  margin-right: 10px;
  position: absolute;
  left: 70px;
  top: -16px;
}
