.buttonclass {
  font-family: "NN-Bold";
  font-weight: bold;
  font-size: 13px;
  color: white;
  padding: 5px 0;
  width: 85px;
  height: 35px;
  border-radius: 5px;
  background-color: #ef787c;
  border: none;
}
.buttondivsignup {
  display: flex;
  gap: 20px;
  margin: 0 auto;
}

.buttonclass:hover {
  background-color: #32365a;
}
