.group-page-wrapper {
    padding: 40px 0 52px;
    &.no-scroll {
        overflow: hidden;
        height: 100vh;
        width: 100vw;
    }
    .group-header {
        padding: 0 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 20px;
        position: fixed;
        top: 40px;
        left: 0;
        width: 100%;
        background-color: #FFFFFF;
    }
    .group-posts {
        height: calc(100vh - 52px); // Hauteur de la navigation déduite
        padding: 60px 30px 90px;
        overflow-y: scroll;
    }
    .group-page-footer {
        position: fixed;
        bottom: 52px; // Hauteur de la navigation
        padding-bottom: 20px;
        left: 0;
        width: 100%;
        display: flex;
        justify-content: center;
    }
}
.modal-container {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}