.comicdescdiv {
  width: 800px;
}
.containercomicdiv {
  border-radius: 5px;
  max-width: 800px;
  margin: 0 auto;
  display: flex;
}
.comicdivcard {
  display: flex;
  width: 800px;
}

.comicdetailimg {
  display: flex;
}
.comicimgdiv {
  width: 200px;
  margin-left: 20px;

  display: flex;
}
.comicpresdiv {
  width: 600px;
}

@media (max-width: 780px) {
  .comicpresdiv {
    flex-wrap: wrap;
    max-width: 300px;
  }
  h1 {
    font-size: 16px;
  }
}
