@import "../../../css/variables.scss";

.create-group-page-wrapper {
    padding: 120px 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    .titleinput {
        font-family: "Nunito", sans-serif;
        font-weight: 700;
    }
    .forminput {
        font-family: "Nunito", sans-serif;
        margin: 20px 0 60px;
        &::placeholder {
            font-family: "Nunito", sans-serif;
        }
    }
    h1 {
        font-size: 30px;
        text-align: center;
        margin-bottom: 30px;
    }
    .create-group-container {
        div {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        .error-container {
            padding: 10px;
            border: 1px solid $pink;
            color: $pink;
            border-radius: 5px;
            margin-top: 20px;
        }
    }
}