.container-header {
  margin: 0 auto;
  max-width: 320px;
  border: 1px solid black;
  padding-bottom: 10px;
}
.marvel_pres {
  display: flex;

  justify-content: center;
}
.marvel_logo > img {
  height: 60px;
  width: 300px;
  object-fit: cover;
}
.marvel_logo {
  display: flex;
  justify-content: center;
  cursor: pointer;
}
.head_div {
  display: flex;
  justify-content: center;
  font-family: "Marvel";
}
.searchbar {
  position: relative;
  top: -120px;
  left: 550px;
  cursor: pointer;
  width: 180px;
  text-align: center;
}

.char_button {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  color: white;
  background-color: #b60e18;
  margin-right: 10px;
  cursor: pointer;
}

.comics_button {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  color: white;
  background-color: #b60e18;
  margin-right: 10px;
  cursor: pointer;
}

.bookmarks_button {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  color: white;
  background-color: #b60e18;
  margin-right: 10px;
  cursor: pointer;
}

.login_button {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  color: white;
  background-color: #b60e18;
  cursor: pointer;
  margin-right: 10px;
}

.logout_button {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  color: white;
  background-color: #b60e18;
  cursor: pointer;
  margin-right: 10px;
}

.button_div {
  display: flex;
  justify-content: center;
}
.searchbarhidden {
  visibility: hidden;
}
.signup_button {
  height: 30px;
  width: 100px;
  border-radius: 5px;
  color: white;
  background-color: #b60e18;
  cursor: pointer;
}

.bookmarks_hidden {
  display: none;
}

.logout_button {
  flex-wrap: wrap;
}
@media (max-width: 780px) {
  .searchbar {
    display: none;
  }
  h1 {
    font-size: 16px;
  }
}
