.footer {
  background-color: #32355a;
  color: white;
  max-height: 80px;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  padding: 0 15px 15px 15px;
  //display: none;
  a {
    text-decoration: none;
    color: white;
  }

  .div-footer {
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 500px;
    justify-content: space-between;
    align-items: center;
    font-size: 20px;
  }
  .div-footer-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 30px;
    width: 60px;
    height: 52px;
    font-weight: 600;
    font-size: 12px;
    line-height: 12px;
  }
  .select {
    border-top: #ef787c 3px solid;
    color: #ef787c;
  }
}
