/* === Import des variables === */
@import "./css/variables.scss";

* {
  box-sizing: border-box;
}

body {
  font-family: "NN-Black";
  color: $darkblue;
}

main {
  // margin-bottom: px;
}
.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-size: 20px;
}

h2 {
  font-family: "NN-bold";
  line-height: 25px;
}

h3 {
  font-family: "NN-bold";
  color: #32365a;
}
h4 {
  font-family: "NN-medium";
  color: #32365a;
  font-size: 14px;
}
p {
  font-family: "NN-medium";
  font-size: 12px;
}
