/* === Import des variables === */
@import "./css/variables.scss";

/* === Import Google fonts === */
@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Roboto+Condensed:wght@900&family=Roboto:wght@400;500;700&display=swap");

* {
  box-sizing: border-box;
}
// * {
//   box-sizing: border-box;
//   font-family: "Nunito", sans-serif !important;
// }

body {
  font-family: "Nunito", sans-serif;
  color: $darkblue;
}

.container {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 30px;
  font-size: 20px;
}

h1 {
  font-family: "Nunito", sans-serif;
  font-weight: 700;
}

h2 {
  font-family: "Nunito", sans-serif;
  font-weight: 600;
  line-height: 25px;
}

h3 {
  font-family: "Nunito", sans-serif;
  font-weight: 500;
  color: #32365a;
}
h4 {
  font-family: "Nunito", sans-serif;
  font-weight: 400;
  color: #32365a;
  font-size: 14px;
}
p {
  font-family: "NN-medium";
  font-size: 12px;
}
